
.site-header {
	//background-color: grey;

	//.table {
	.fadeIn-img{
		background-color: #565656;
	}
}

section.service-lines {
	margin-top: 40px;

	.service-line-block {
		padding-bottom: 80px;
	}

	.service {
		text-align: center;
	}

	h1 {
		margin-bottom: 30px;
	}

	.title-description {
		text-align: center;
		max-width: 480px;
		margin: 0 auto;
		padding: 0;
		font-size: 16px;
		font-family: 'libre_baskervilleregular';
		margin-bottom: 80px;
	}

	h2 {
		font-family: 'Avenir LT Std 45 Book';
		font-size: 24px;
		text-transform: uppercase;
	}

	.copy {
		text-align: left;
		font-size: 16px;
		color: #1e1e1e;
		font-family: 'libre_baskervilleregular';
    line-height: 28px;
	}

	.gray-bar {
		width: 60%;
		height: 4px;
		margin: 0 auto;
		margin-top: -25px;
		margin-bottom: 25px;
		overflow: hidden;
		clear: both;
		border-top: 4px solid #f2f2f2;
		height: 20px;
	}
}


// Case Studies

.case-studies-block {
	margin-top: 10px;
}

.case-studies {
	.thumb {
		min-height: 460px;
		background-size: cover;
		background-position: center center;
		text-align: center;
	}

	blockquote {
		font-family: 'libre_baskervilleitalic';
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.02em;
	}

	a {
		&:hover {
			background-color: red;
		}
	}

	.section-description {
		margin-bottom: 40px;
	}

	h2 {
		text-transform: uppercase;
	}
}

.cs-bg {
	padding: 0;
}

.cs-hover:hover {
	transition: all 0.2s ease-in-out;
	background-color: rgba(0,0,0,.5);
}




// LOGO SEction

.brand-logos {
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 0;
	margin-right: 0;

	.bf, .gop {
		img { margin-top: 30px; }
	}
}

.logo-wrap {
	text-align: center;
	margin-bottom: 20px;
	img { 
		width: 100%;
		max-height: 100px;
		@media screen and (max-width: 992px) {
			width: 180px;
		}
	}
}


//Responsive

@media screen and (max-width: 992px) {

	.service-lines {
		.service {
			margin-top: 20px;
		}
	}



}

