.site-header {
	position: relative;

	.fadeIn-img{
		background-color: #565656;
	}

	.cover-image {
		z-index: -1;
	}

	.index-caption p{
		color: #fff;
		font-size: 36px;
		line-height: 40px;
		font-family: 'Avenir LT Std 45 Book';
	}

	h1 {
		font-family: 'Avenir LT Std 65 Medium';
		color: $pageTitleColor;
		font-size: 65px;
		font-size: 6vw;
		letter-spacing: 0.15em;
		text-align: center;
	}

	.guide-scroll {
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -28px;

		.mouse-line {
			display: block;
			position: absolute;
			left: 50%;
			top: 10px;
			width: 2px;
			height: 8px;
			background-color: #fff;
			margin-left: -1px;
		}

		.mouse-line {
			animation: scroll 1s;
			animation-iteration-count: infinite;
		}
	}

}



// logos
.brand-logos {
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 0;
	margin-right: 0;

	.bf, .gop {
		img { margin-top: 30px; }
	}

	ul.logo-block {
		margin: 0 auto;
		text-align: center;
		opacity: 0.6;

		li {
			display: inline-block;
			width: 100%;
			max-width: 150px;
			margin-left: 15px;
		}
	}
}

.logo-wrap {
	text-align: center;
	margin-bottom: 20px;
	img { 
		width: 100%;
		max-height: 100px;
		@media screen and (max-width: 992px) {
			width: 180px;
		}
	}
}



.earth-bg {
	background: #fafafa url('../images/earth.png');
	background-image-repeat: no-repeat;
	background-repeat: no-repeat;
  background-position: 70% 100px;
}

section.service-lines {
	padding: 100px 0;
	position: relative;

	h1 { text-align: center; text-transform: uppercase;}

	.service-line-block {
		padding-bottom: 80px;

		.white-bg {
			background-color: #fff;
		}

		.service-line-grid {
			padding: 30px;
		}
	}

	.service {
		text-align: center;
	}

	h1 {
		margin-bottom: 30px;
	}

	.title-description {
		margin-bottom: 80px;
	}

	h2 {
		font-family: 'Avenir LT Std 45 Book';
		font-size: 24px;
		text-transform: uppercase;
	}

	.copy {
		text-align: left;
		font-size: 16px;
		color: #1e1e1e;
		font-family: 'libre_baskervilleregular';
    line-height: 28px;
	}

	.gray-bar {
		width: 60%;
		height: 4px;
		margin: 0 auto;
		margin-top: -25px;
		margin-bottom: 25px;
		overflow: hidden;
		clear: both;
		border-top: 4px solid #f2f2f2;
		height: 20px;
	}
}


// Case Studies

.case-studies-block {
	margin-top: 10px;
	//max-width: 760px;
}



.case-studies {
	position: relative;
  padding: 100px 0;

	.cs-title {
		text-align: center;

		h1 {
			color: #fff;
			//text-transform: uppercase;
		}
		p { 
			font-size: 24px; 
			font-style: none;
			//color: #fff;
			color: #C7C7C7;
			font-family: 'Avenir LT Std 45 Book';
		}
	}

	.thumb {
		min-height: 460px;
		background-size: cover;
		background-position: center center;
		text-align: center;

		h2 { text-transform: uppercase; }
	}

	blockquote {
		font-family: 'libre_baskervilleitalic';
		font-size: 16px;
		line-height: 28px;
		letter-spacing: 0.02em;
	}

	a {
		&:hover {
			background-color: red;
		}
	}

	.section-description {
		//padding-top: 80px;
		//margin-bottom: 40px;
		text-align: center;

		h1 {
			font-size: 62px;
	    text-shadow: 1px 2px 0 #3E3E3E;
	    margin-bottom: 20px;
		}

		blockquote {
			color: #fff;
		}
	}
}

.cs-bg {
	padding: 0;
}

.cs-hover:hover {
	transition: all 0.2s ease-in-out;
	background-color: rgba(0,0,0,.5);
}



// Section Titles
.section-title-block {
	text-align: center;

	h1 {
		//text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.75);
	}


	.title-description {
		font-family: $primaryFont-light;
		max-width: 600px;
		margin: 0 auto;
	}
}


/////////////////// Industry List
section.main-industry-block {
	overflow: hidden;
	clear: both;
	//background-color: $bg-red;
	padding: 100px 0;

	background: $bg-red url('../images/dark-denim-3.png');
}

.industry-commercial-container {
	margin: 75px 0;
}
.industry-commercial-list {
	list-style-type: none;

	li, img, p {
		padding: 0;
		margin: 0;
	}

	li {
		width: 62px;
		display: inline-block;
		    margin: 10px;
	}

	img { margin: 0 auto; text-align: center; display: block;}

	p { 
		text-align: center;
		color: #fff;
		font-family: $primaryFont-heavy;
		padding-top: 15px;
		font-size: 1em;
		font-weight: 700;
	}

	.e-com { width: 100px; }
	.enterprise { width: 100px; }
	.education { width: 100px; }
	.non-profit { width: 100px; }

}




//// Approach
.step-approach {
	padding: 100px 0;
}

.approach-list-container {
	position: relative;
	margin-top: 35px;

	.bar {
		position: absolute;
		margin: 0 auto;
		width: 400px;
		height: 15px;
		background-color: #dbdbdb;
	}

}

#approach-list {
	width: 500px;
	margin: 0 auto;

	li {
		display: inline-block;
		position: relative;
		background-color: #fff;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		border: 4px solid #dbdbdb;
    margin-left: 26px;
    transition: 0.3s ease-in;

    &:hover {
    	cursor: pointer;
    	background-color: #f7f7f7;
    }

		span {
			position: absolute;
			left: 9px;
			top: 4px;
			color: #000;
			font-family: $secondaryFont;
			//transition: 0.3s ease-in;
		}
	}

	li.active {
		//background-color: #c80e25;
		background: -webkit-linear-gradient(top, #E81731 0%, #C80E25 100%);

		span {
			color: #fff;
		}
	}

	&:before {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 15px;
    content: "";
    background: #d5d5d5;
    background: -moz-linear-gradient(top, #d5d5d5 0, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(10%, #dedede), color-stop(14%, #e5e5e5), color-stop(29%, #f1f1f1), color-stop(38%, #f6f6f6), color-stop(48%, #f8f8f8), color-stop(81%, #f8f8f8), color-stop(90%, #f6f6f6), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #d5d5d5 0, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #d5d5d5 0, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #d5d5d5 0, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%);
    z-index: 0;
	}
}

.approach-tab {
	display: none;
}

#approach-description {
	max-width: 650px;
	padding: 0 15px;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 35px;
	margin-bottom: 35px;

	.approach-title h3 {
		font-size: 42px;
		font-family: $primaryFont-heavy;
		color: #9B081B;
		//border-bottom: 1px dotted #4e6385;
		display: inline-block;
		padding: 0;
		margin: 0;
		margin-bottom: 25px;
	}

	.description {
		font-family: $primaryFont-light;
	}


	.active {
		display: block;
	}

	// .column-1, .column-2 {
	// 	float: left;
	// }
	// .column-1 {
	// 	width: 25%;
	// }
	// .column-2 {
	// 	width: 65%;
	// }
}









/////////////////////// Generic

.arrow-down-circle {
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #fafafa;
	top: -80px;
	left: 50%;
	margin-left: -75px;
	border-radius: 50%;
	z-index: 2;

	img {
    position: absolute;
    top: 60px;
    left: 16px;
	}
}



//Responsive

@media screen and (max-width: 992px) {

	.service-lines {
		.service {
			margin-top: 20px;
		}
	}



}

